# AI Provider API Keys
CROFAI_API_KEY=
OPENROUTER_API_KEY=

# Available: crofai, openrouter
MANGOTL_AI_PROVIDER=openrouter

# Optional Settings

# PORT=8787

# MANGOTL_SOURCE_LANGUAGE=ja
# MANGOTL_TARGET_LANGUAGE=ko

# MANGOTL_MAX_IMAGE_BYTES=20971520
